:root
  --background: #08070b
  --background-secondary: #141316
  --primary: #0089ff
  --green: #8aff80
  --cian: #80ffea
  --white: #fff
  --gray: #8f9ba8

*
  padding: 0
  margin: 0
  box-sizing: border-box

body
  background-color: var(--background)
